[project]
	description = Pasar Sako Mandiri Backend System
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Albert Widiatmoko (albert-widi)
[access "refs/for/refs/*"]
	read = group user/Albert Widiatmoko (albert-widi)
	push = group user/Albert Widiatmoko (albert-widi)
	label-Code-Review = -2..+2 group user/Albert Widiatmoko (albert-widi)
	label-Verified = -1..+1 group user/Albert Widiatmoko (albert-widi)
	rebase = group user/Albert Widiatmoko (albert-widi)
	removeReviewer = group user/Albert Widiatmoko (albert-widi)
	submit = group user/Albert Widiatmoko (albert-widi)
[access "refs/heads/*"]
	read = group user/Albert Widiatmoko (albert-widi)
	create = group user/Albert Widiatmoko (albert-widi)
	push = +force group user/Albert Widiatmoko (albert-widi)
	pushMerge = group user/Albert Widiatmoko (albert-widi)
[access "refs/tags/*"]
	push = group user/Albert Widiatmoko (albert-widi)
	push = +force group user/Albert Widiatmoko (albert-widi)
