<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <title>Admin</title>
    <!-- CSS -->
    <link media="screen,projection" rel="stylesheet" type="text/css" href="/assets/css/materialize.css"></link>
</head>

<body>

    <div class="navbar-fixed">
    <nav class="#0097a7 cyan darken-2">
      <div class="nav-wrapper container">
        <a href="#!" class="brand-logo">Pasar Sako Mandiri</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="device">Device List</a></li>
          <li><a href="device/device_group">Device Group</a></li>
          <li><a href="/user/register">User Register</a></li>
          <li><a href="/parking_price">Parking Price</a></li>
          <li><a href="parking/transactions">Parking Transaction</a></li>
          <li><a href="/member">Member</a></li>
          <li><a href="/api/user/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
  </div>
    
    <!-- Scripts -->
    <script src="assets/js/jquery-2.2.0.min.js"></script>
    <script src="assets/js/materialize.js"></script>
</body>
</html>