<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
   <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <title>Admin</title>
    <!-- CSS -->
    <link media="screen,projection" rel="stylesheet" type="text/css" href="/assets/css/materialize.css"></link>
    <link media="screen,projection" rel="stylesheet" type="text/css" href="/assets/icon/material-design-icons/iconfont/material-icons.css"></link>
    <style>
        .bact>li a:hover{
            background:none;
        }
    </style>

</head>

<body>

 <nav class="#0097a7 cyan darken-2">
        <div class="nav-wrapper">
          <a href="#!" class="cen brand-logo" style="padding-left:50px">Pasar Sako Mandiri</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">&#xE3C7;</i></a>
          <ul class="right hide-on-med-and-down">
              {{template "menu.tmpl" .}}
          </ul>
          <ul class="side-nav bact" id="mobile-demo">
              {{template "menu.tmpl" .}}
           </ul>
          </ul>
        </div>
      </nav>



    <!--<div class="navbar-fixed">
    <nav class="#0097a7 cyan darken-2">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo" style="padding-left:50px">Pasar Sako Mandiri</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="device">Device List</a></li>
          <li><a href="device/device_group">Device Group</a></li>
          <li><a href="/user/register">User Register</a></li>
          <li><a href="/parking_price">Parking Price</a></li>
          <li><a href="parking/transactions">Parking Transaction</a></li>
          <li><a href="/member">Member</a></li>
          <li><a href="/api/user/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
  </div>-->

    <!-- Scripts -->
    <script src="assets/js/jquery-2.2.0.min.js"></script>
    <script src="assets/js/materialize.js"></script>
    <!-- SCRIPT -->
        <script>
                $(function(){
                    $('.button-collapse').sideNav({
                          menuWidth: 240, // Default is 240
                          edge: 'left', // Choose the horizontal origin
                          closeOnClick: false // Closes side-nav on <a> clicks, useful for Angular/Meteor
                        }
                      );
                });
        </script>
</body>
</html>
