<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>Login</title>
    <!-- CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link media="screen,projection" rel="stylesheet" type="text/css" href="./css/materialize.css"></link>
    <link media="screen,projection" rel="stylesheet" type="text/css" href="./css/your_custom_css.css"></link>
</head>

<body class="#cfd8dc blue-grey lighten-4">

 <div class="container" style="margin-top: 9%">
    <div class="row">
        <div class="col s4 offset-s4">
            <div class="card hoverable">
                <div class="card-content #e0f2f1 teal lighten-5">

                    <!-- navbar -->
                    <nav class="#00bfa5 teal accent-4">
                        <div class="nav-wrapper">
                            <a class="brand-logo center">Login</a>
                        </div>
                    </nav>


                    <!-- form -->

                    <div class="row" style="margin-top:20px">
                        

                            <!-- Label Name -->
                            <div class="input-field col s10 offset-s1" style="margin-top:40px">
                                <label for="name">Nama</label>
                                <input id="name" type="text" class="validate">
                            </div>


                            <!-- label pass -->
                            <div class="input-field col s10 offset-s1" style="margin-top:40px">
                                <label for="pass">Password</label>
                                <input id="pass" type="password" class="validate">
                            </div>


                            <!-- button -->
                            <div class="col s10 offset-s1" style="margin-top:15px">
                                <div class="section">
                                    <a href="#" class="btn waves-effect waves-light center" type="submit" name="">Login</a>
                                </div>
                            </div>

                        
                    </div>


                    <!-- footer -->
                    <div class="card-action #00bfa5 teal accent-4 center" style="margin-top:20px">
                        <p style="color: white">PT.Maju Mundur</p>
                    </div>

                    
                </div><!-- card-content -->
            </div><!-- card -->
        </div><!-- col -->
    </div><!-- row -->
</div><!-- container -->
    
    
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/your_custom_js.js"></script>
</body>
</html>

