<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/assets/js/jquery-2.1.1.min.js"></script>
    <script src="/assets/js/materialize.js"></script>
    <title>Parking Transactions</title>
    <!-- CSS -->
    <link media="screen,projection" rel="stylesheet" type="text/css" href="/assets/css/materialize.css"></link>
    <link media="screen,projection" rel="stylesheet" type="text/css" href="/assets/css/style.css"></link>
    <link media="screen,projection" rel="stylesheet" type="text/css" href="/assets/icons/iconfont/material-icons.css"></link>
    <style>
        .nav-wrapper ul li a:hover{
            background:none;
        }
    </style>
    <!-- scripts -->
    <script>
        $(function(){

             //get date
            var dateNow = new Date();
            var get = dateNow.getDate();
            //get month name
            var month = new Array();
                month[0] = "January";
                month[1] = "February";
                month[2] = "March";
                month[3] = "April";
                month[4] = "May";
                month[5] = "June";
                month[6] = "July";
                month[7] = "August";
                month[8] = "September";
                month[9] = "October";
                month[10] = "November";
                month[11] = "December";

            var getMonth = month[dateNow.getMonth()];

            //get year
            var year = dateNow.getFullYear();

           document.getElementById("oke").value = get + ' ' + getMonth + ', ' + year ;

            //datepicker js from materialize
            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15, // Creates a dropdown of 15 years to control year
              });

            //var for get
            var tanggal = document.getElementById("oke").value = get + ' ' + getMonth + ', ' + year ;

            var tangs = document.getElementById("iin").value = get + ' ' + getMonth + ', ' + year ;

            var getVal = document.getElementById("kesatu").value;

            $.get("/transactions_tabel", {
                tanggal:tanggal,
                param:getVal
            },
             function(data, status){


                    //alert("Data: " + data + "\nStatus: " + status);
                    //alert("Data length: " + data.length)

                    var div = document.getElementById("out");

                    var table = "";

                    for (var i=0; i<data.length; i++){
                        table += "<tr><td>" + data[i].Ticket_number + "</td><td>" + data[i].Vehicle_type + "</td><td>" + data[i].Vehicle_number + "</td><td>" + data[i].Out_date + "</td><td>" + data[i].Parking_cost + "</td><td>" +
                         data[i].Verified_by + "</td><td>" + data[i].Created_date + "</td><td>" + data[i].Created_by + "</td><td>" + data[i].Last_update_date + "</td><td>" + data[i].Updated_by + "</td></tr>";
                    }

                    table += ""

                    div.innerHTML = table;


            });

            //table for user transactions
           $.get("/user/transactions", {
                tanggal:tangs
           },
           function(data, status){
            //alert("Data: " + data + "\nStatus: " + status);
            var kel = document.getElementById("keluar");
            var table = "";
            for (var n=0; n<data.length; n++){
                alert(data[n].Username);
            }
           });


            //tabel out when date pick
           $('.datepicker').change(function(){

                var tnggl = document.getElementById("oke").value;

                var val = document.getElementById("sel").value;

                $.get("/transactions_tabel", {
                               tanggal:tnggl,
                               param:val
                           },
                            function(data, status){


                                   //alert("Data: " + data + "\nStatus: " + status);
                                   //alert("Data length: " + data.length)

                                   var div = document.getElementById("out");

                                   var table = "";

                                   for (var i=0; i<data.length; i++){
                                       table += "<tr><td>" + data[i].Ticket_number + "</td><td>" + data[i].Vehicle_type + "</td><td>" + data[i].Vehicle_number + "</td><td>" + data[i].Out_date + "</td><td>" + data[i].Parking_cost + "</td><td>" +
                                        data[i].Verified_by + "</td><td>" + data[i].Created_date + "</td><td>" + data[i].Created_by + "</td><td>" + data[i].Last_update_date + "</td><td>" + data[i].Updated_by + "</td></tr>";
                                   }

                                   table += ""

                                   div.innerHTML = table;


                           });

            });

            //tabel out when date pick for user transactions
                       $('.datepicker').change(function(){

                            var tnggl = document.getElementById("iin").value;

                            var val = document.getElementById("sel").value;

                            $.get("/transactions_tabel", {
                                           tanggal:tnggl,
                                           param:val
                                       },
                                        function(data, status){


                                               //alert("Data: " + data + "\nStatus: " + status);
                                               //alert("Data length: " + data.length)

                                               var div = document.getElementById("out");

                                               var table = "";

                                               for (var i=0; i<data.length; i++){
                                                   table += "<tr><td>" + data[i].Ticket_number + "</td><td>" + data[i].Vehicle_type + "</td><td>" + data[i].Vehicle_number + "</td><td>" + data[i].Out_date + "</td><td>" + data[i].Parking_cost + "</td><td>" +
                                                    data[i].Verified_by + "</td><td>" + data[i].Created_date + "</td><td>" + data[i].Created_by + "</td><td>" + data[i].Last_update_date + "</td><td>" + data[i].Updated_by + "</td></tr>";
                                               }

                                               table += ""

                                               div.innerHTML = table;


                                       });

                        });

            //Select function

            $("#sel").click(function(){


               var tnggl = document.getElementById("oke").value;

               var sudahKeluar = document.getElementById("sel").value;

               $.get("/transactions_tabel", {
                  tanggal:tnggl,
                  param:sudahKeluar
              },
               function(data, status){


                      //alert("Data: " + data + "\nStatus: " + status);
                      //alert("Data length: " + data.length)

                      var div = document.getElementById("out");

                      var table = "";

                      for (var i=0; i<data.length; i++){
                          table += "<tr><td>" + data[i].Ticket_number + "</td><td>" + data[i].Vehicle_type + "</td><td>" + data[i].Vehicle_number + "</td><td>" + data[i].Out_date + "</td><td>" + data[i].Parking_cost + "</td><td>" +
                           data[i].Verified_by + "</td><td>" + data[i].Created_date + "</td><td>" + data[i].Created_by + "</td><td>" + data[i].Last_update_date + "</td><td>" + data[i].Updated_by + "</td></tr>";
                      }

                      table += ""

                      div.innerHTML = table;


              });

            });


        });
    </script>
    <script>
        $(function(){
            $('.button-collapse').sideNav({
                  menuWidth: 240, // Default is 240
                  edge: 'left', // Choose the horizontal origin
                  closeOnClick: false // Closes side-nav on <a> clicks, useful for Angular/Meteor
                }
              );
        });
    </script>
    <script>
        $(function(){

            $('#munc').on('click', function(){
                        $('#ilang').removeClass('active');
                        $('#munc').addClass('active');
                        $('#parkingtrans').css('display', 'none');
                        $('#usertrans').css({'display': 'block'});
                    });

                    $('#ilang').on('click', function(){
                        $('#munc').removeClass('active');
                        $('#ilang').addClass('active');
                        $('#usertrans').css('display', 'none');
                        $('#parkingtrans').css({'display': 'block'});
                    });

        });
    </script>


    <script>
        $(function(){




            var d = new Date();
            var hour = d.getHours();
            var minute = d.getMinutes();
            minute = minute + "";
            if(minute.length == 1){

                minute = "0" + minute;

            }

            document.getElementById("times").value = hour + ":" + minute;

        });
    </script>
</head>

<body>

<header>

    <nav class="#0097a7 cyan darken-2">
        <div class="nav-wrapper">
          <a href="#!" class="cen brand-logo">Pasar Sako Mandiri</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">&#xE3C7;</i></a>
          <ul class="right hide-on-med-and-down">
             <li><a href="/device">Device List</a></li>
             <li><a href="/device/device_group">Device Group</a></li>
             <li><a href="/user/register">User Register</a></li>
             <li><a href="/parking_price">Parking Price</a></li>
             <li class="active"><a href="/parking/transactions">Parking Transaction</a></li>
             <li><a href="/member">Member</a></li>
             <li><a href="/api/user/logout">Logout</a></li>
          </ul>
          <ul class="side-nav fixed" id="mobile-demo">
            <li class="#0097a7 cyan darken-2"><a href="#!"></a></li>
            <li id="ilang" class="active"><a href="#!">Parking Transactions</a></li>
            <li id="munc"><a href="#usertrans">User Transactions</a></li>
            <div class="divider"></div>
            <ul class="hide-on-large-only">
             <li class="logo #0097a7 cyan darken-2">Menu</li>
             <li><a href="/device">Device List</a></li>
             <li><a href="/device/device_group">Device Group</a></li>
             <li><a href="/user/register">User Register</a></li>
             <li><a href="/parking_price">Parking Price</a></li>
             <li class="active"><a href="/parking/transactions">Parking Transaction</a></li>
             <li><a href="/member">Member</a></li>
             <li><a href="/api/user/logout">Logout</a></li>
            </ul>
          </ul>
        </div>
      </nav>

</header>

<main id="parkingtrans">

    <div class="row">
        <div class="col s12 m12 l12">

            <div class="section" style="margin-left:50px">

                <div class="row">
                    <div class="input-field col s12 m4 push-m1">
                        <p>Pilih Tanggal Transaksi</p>
                          <input id="oke" type="text" class="datepicker">
                    </div>

                     <div class="input-field col s12 m4 push-m2">
                        <p>Browser Select</p>
                          <select id="sel" class="browser-default">
                             <--<option id="kesatu">All</option>
                             <option id="kedua">Sudah Keluar</option>
                             <option>Belum Beluar</option>-->
                          </select>
                     </div>
                     </div>
                </div><!-- end of row -->

                        <nav>
                            <div class="nav-wrapper container">
                              <a href="#" class="brand-logo center">Parking Transactions</a>
                            </div>
                        </nav>

                    <!--- TABLE START --->

                <div class="row">

                    <div class="col s12">
                        <table class="responsive-table centered highlight bordered">
                            <thead>
                                <tr>
                                    <th>Ticket Number</th>
                                    <th>Vehicle Type</th>
                                    <th>Vehicle Number</th>
                                    <th>Out Date</th>
                                    <th>Parking Cost</th>
                                    <th>Verified By</th>
                                    <th>Created Date</th>
                                    <th>Created By</th>
                                    <th>Last Update Date</th>
                                    <th>Update By</th>
                                </tr>
                            </thead>
                            <tbody id="out">
                            </tbody>
                        </table>

                    </div>
                </div><!-- END OF ROW TABLE-->

            </div><!-- END OF PARKING TRANS-->



        </div><!-- END OF COL -->
    </div><!-- END OF ROW -->

</main>


<main id="usertrans" style="display:none">

    <div class="row">

        <div class="col s12 m12 l12">

<!-- USER TRANSACTIONS PAGES -->

            <div class="section">

                <div class="row">
                    <div class="input-field col s12 m4 push-m1">
                        <p>Pilih Tanggal Transaksi</p>
                          <input id="iin" type="text" class="datepicker">
                    </div>

                     <div class="input-field col s12 m2 push-m2">
                        <p>Jam Sekarang</p>
                        <input value="" id="times" type="text" class="validate">
                     </div>
                </div><!-- END OF ROW -->

                        <nav>
                            <div class="nav-wrapper container">
                              <a href="#" class="brand-logo center">User Transactions</a>
                            </div>
                        </nav>

                    <!--- TABLE START --->

                    <div class="row">

                        <div class="col s12">

                        <table class="responsive-table centered highlight bordered">
                            <thead>
                                <tr>
                                    <th>User Id</th>
                                    <th>Username</th>
                                    <th>Number of cars</th>
                                    <th>Number of motorcycles</th>
                                    <th>Money to deposit</th>
                                </tr>
                            </thead>
                            <tbody id="keluar">
                            </tbody>
                        </table>

                      </div>
            </div><!-- END OF ROW TABLE-->

            </div><!-- END OF USER TRANS -->

         </div>
     </div>
</main>




</body>
